.table__visualize-btn {
  display: flex;
  align-items: center;
  background-color: $light-yellow;
  border-radius: 10px;
  color: $darker-blue;
  font-family: $poppins;
  font-size: $fs-16;
  font-weight: $fw-semibold;
  text-decoration: none;
  padding: 0.3rem 1rem;
  transition: all 0.3s ease;
  &:hover {
    background-color: $dark-blue;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    color: $off-white;
  }
}

.table__min-visualize-btn {
  background-color: $dark-blue;
  border-radius: 10px;
  color: $off-white;
  font-size: $fs-16;
  font-family: $poppins;
  font-weight: $fw-semibold;
  padding: 0.3rem 0.5rem;
  transition: all 0.3s ease;
  &:hover {
    background-color: $darker-blue;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    color: $off-white;
  }
}

.table__min-details-btn {
  background-color: $light-yellow;
  border-radius: 10px;
  color: $dark-blue;
  font-size: $fs-16;
  font-family: $poppins;
  font-weight: $fw-semibold;
  padding: 0.3rem 0.5rem;
  transition: all 0.3s ease;
  &:hover {
    background-color: $orange;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    color: $dark-blue;
  }
}

.table__min-edit-btn {
  background-color: $purple;
  border-radius: 10px;
  color: $off-white;
  font-size: $fs-16;
  font-family: $poppins;
  font-weight: $fw-semibold;
  padding: 0.3rem 0.5rem;
  transition: all 0.3s ease;
  &:hover {
    background-color: $dark-purple;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    color: $off-white;
  }
}

.table__active {
  background-color: $light-green;
  border-radius: 10px;
  color: $off-white;
  font-family: $poppins;
  padding: 0.4rem;
}

.table__inactive {
  background-color: $red;
  border-radius: 10px;
  color: $off-white;
  font-family: $poppins;
  padding: 0.4rem;
}
