.table__visualize-btn {
  display: flex;
  align-items: center;
  background-color: $you-yellowish;
  border-radius: 10px;
  color: $you-blue;
  font-family: $poppins;
  font-size: $fs-14;
  font-weight: $fw-semibold;
  text-decoration: none;
  padding: 0.3rem 1rem;
  transition: all 0.3s ease;
  width: fit-content;
  &:hover {
    background-color: $you-pastel-yellow;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
}

.table__min-visualize-btn {
  background-color: $you-blue;
  border-radius: 10px;
  color: $off-white;
  font-size: $fs-16;
  font-family: $poppins;
  font-weight: $fw-semibold;
  padding: 0.3rem 0.5rem;
  transition: all 0.3s ease;
  &:hover {
    background-color: $you-blue;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    color: $off-white;
  }
}

.table__min-details-btn {
  background-color: $you-yellowish;
  border-radius: 10px;
  color: $you-blue;
  font-size: $fs-16;
  font-family: $poppins;
  font-weight: $fw-semibold;
  padding: 0.3rem 0.5rem;
  transition: all 0.3s ease;
  &:hover {
    background-color: $dark-yellow;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    color: $you-blue;
  }
}

.table__min-edit-btn {
  background-color: $you-purple;
  border-radius: 10px;
  color: $off-white;
  font-size: $fs-16;
  font-family: $poppins;
  font-weight: $fw-semibold;
  padding: 0.3rem 0.5rem;
  transition: all 0.3s ease;
  &:hover {
    background-color: $dark-purple;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    color: $off-white;
  }
}

.table__min-btn {
  align-items: center;
  background-color: $light-gray;
  border-radius: 10px;
  display: flex;
  font-weight: $fw-medium;
  text-decoration: none;
  padding: 0.5rem;
  transition: all 0.3s ease;
  &:active {
    background-color: $you-blue;
    color: $off-white;
  }
  &:hover {
    background-color: $you-blue;
    color: $off-white;
  }
}

.table__active {
  background-color: $green;
  border-radius: 10px;
  color: $off-white;
  font-family: $poppins;
  padding: 0.4rem;
}

.table__inactive {
  background-color: $red;
  border-radius: 10px;
  color: $off-white;
  font-family: $poppins;
  padding: 0.4rem;
}
