// Specific Colors
$bg-color: #fcfcfc;

// Generic Colors
$dark-gray: #2c2c2c;
$dark-purple: #672774;
$red: #ff0000;
$off-white: #f9f9f9;
$green: #5cb85c;
$light-gray: #dfdfdf;
$lighter-gray: #ececec;
$dark-yellow: #d6d01f;

// You Bilingue - Primary Colors
$you-purple: #7c348b;
$you-pink: #ea5176;
$you-lilac: #a58ac0;
$you-orange: #f59d08;

// You Bilingue - Complementary Colors
$you-blue: #356cb4;
$you-green: #b2d7ae;
$you-yellowish: #e6e123;

// You Bilingue - Pastel Tones
$you-pastel-yellow: #ffeed2;
$you-pastel-pink: #f9cfdc;
$you-pastel-lilac: #e1d0e7;
