// Specific Colors
$bg-color: #fcfcfc;
$btn-color: #5c3f7f;
$input-color: #ececec;
$title-color: #5c3f7f;
$sidebar-color: #5c3f7f;
$text-color: #2c2c2c;
$icon-color: #5c3f7f;
$active-color: #2caa00;
$inative-color: #ff0f00;
$menu__item-color: #f9f9f9;

// General Colors
$blue: #337ab7;
$orange: #df9f01;
$purple: #ba0065;
$dark-purple: #910050;
$red: #ff0000;
$off-white: #f9f9f9;
$light-gray: #dfdfdf;
$lighter-gray: #ececec;
$light-yellow: #d3d722;
$light-green: #5cb85c;
$nude-orange: #f0ad4e;
$dark-blue: #5c3f7f;
$darker-blue: #493066;
$darkish-blue: #301b49;
$dark-gray: #2c2c2c;
