.carousel-inner {
  height: 80vh;
  .carousel-item img {
    filter: brightness(60%);
    object-fit: cover;
    max-height: 80vh;
  }
}

@media (max-width: 756px) {
  .carousel-inner {
    height: 30vh;
    .carousel-item img {
      max-height: 30vh;
    }
  }
}
