.log-out-navigation {
  border-radius: 10px;
  color: $you-blue;
  transition: all 0.3s ease;
  cursor: pointer;
  &:hover {
    background-color: $you-blue;
    color: $off-white;
    padding: 0.5rem;
  }
}

.log-out-sidebar {
  border-radius: 10px;
  color: $off-white;
  transition: all 0.3s ease;
  cursor: pointer;
  &:hover {
    background-color: $off-white;
    color: $you-blue;
    padding: 0.5rem;
  }
}

.sidebar {
  background: $sidebar-color;
  color: $off-white;
  font-family: $poppins;
  a {
    color: $off-white;
    &:hover {
      color: $you-orange;
    }
    &:focus {
      color: $you-orange;
    }
  }
  .subitem {
    text-decoration: none;
    font-size: $fs-16;
  }
}
