.title {
  color: $you-blue;
  font-family: $poppins;
  font-size: $fs-30;
  font-weight: $fw-semibold;
}

.subtitle {
  color: $you-blue;
  font-family: $poppins;
  font-size: $fs-16;
  font-weight: $fw-semibold;
}

.section-title {
  display: flex;
  align-items: center;
  color: $you-blue;
  font-family: $poppins;
  font-size: $fs-24;
  font-weight: $fw-semibold;
}

.section-title__icon {
  color: $you-blue;
  font-family: $poppins;
  font-size: $fs-20;
  font-weight: $fw-semibold;
}
