.purple-fill {
  background-color: $you-purple;
  color: $off-white;
  &:hover {
    color: $off-white;
  }
  .purple-fill_active {
    background-color: $off-white;
    color: $you-purple;
    padding: 0 0.5rem;
    border-radius: 10px;
    transition: all 0.3s ease;
  }
}

.green-fill {
  background-color: $green;
  color: $off-white;
  &:hover {
    color: $off-white;
  }
}

.blue-fill {
  background-color: $you-blue;
  color: $off-white;
  &:hover {
    color: $off-white;
  }
}

.orange-fill {
  background-color: $you-orange;
  color: $off-white;
  &:hover {
    color: $off-white;
  }
}

.light-fill {
  background-color: $light-gray;
  color: $you-blue;
  &:hover {
    color: $you-blue;
  }
}
