.purple-outline {
  border: 1px solid $you-purple;
  color: $you-purple;
  &:hover {
    color: $off-white;
    background-color: $you-purple;
    .purple-outline_span {
      background-color: $off-white;
      color: $you-purple;
    }
  }
  .purple-outline_span {
    background-color: $you-purple;
    color: $off-white;
    padding: 0 0.5rem;
    border-radius: 10px;
    transition: all 0.3s ease;
  }
}

.red-outline {
  border: 1px solid $red;
  color: $red;
  &:hover {
    color: $off-white;
    background-color: $red;
  }
}

.orange-outline {
  border: 1px solid $you-orange;
  color: $you-orange;
  &:hover {
    color: $off-white;
    background-color: $you-orange;
  }
}

.green-outline {
  border: 1px solid $green;
  color: $green;
  &:hover {
    color: $off-white;
    background-color: $green;
  }
}
